[submodule "human_SLAM"]
	url = https://github.com/CarmineD8/human_SLAM.git
[submodule "recognition/src/Recognition_from_Ontology"]
	url = https://github.com/DeafMic/Recognition_from_Ontology.git
[submodule "recognition/porcupine"]
	url = https://github.com/Picovoice/porcupine.git
[submodule "rviz_stream"]
	path = rviz_stream
	url = https://github.com/DeafMic/rviz_stream.git
